@page "/"
@using SimpleNumberInput.Models
@using IntlTelInputBlazor
@using MudBlazor

<h1>Hello, phone!</h1>

<EditForm EditContext="_editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <MudIntlTelInput @bind-Value="_model.IntTelNumber" Label=@($"Tel. 1: ({_model.Number})") For="@(() => _model.IntTelNumber)" />

    <MudIntlTelInput @bind-Value="_model.IntTelNumber2" Label=@($"Tel. 2: ({_model.Number2})") For="@(() => _model.IntTelNumber2)" />
    <br />

    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Save</MudButton>
    
</EditForm>



@code
{
    NumberModel _model = new NumberModel();
    EditContext _editContext;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_model);
    }

    private void OnValidSubmit()
    {
        var tel1 = _model.IntTelNumber.Number;
        var tel2 = _model.IntTelNumber2.Number;
        Console.WriteLine($"Number 1: {tel1}; Number 2: {tel2}");
    }
}